<a href="https://colab.research.google.com/github/Cottracker/Internship_bukitvista/blob/main/intern_bukit_vista.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [169]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
pd.set_option('display.max_columns', None)

url = 'https://www.bukitvista.com/bali-vacation-rentals'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

In [170]:
containers = soup.findAll("div", attrs={"class":"item-body flex-grow-1"})
h = containers[0].text
print(h)

Nusa Dua Luxe Villa w/ Ocean-View & Private Beach



Starting from USD 715 per 2 nights


Beds: 3Baths: 4

In [171]:
for container in containers:
  h = container.text
h

'\n\nStunning Ocean View Nusa Dua Villa + Infinity pool\n\n\n\nStart from $13,160 USD per Month\n\n\nBeds: 3Baths: 4 \n'

In [172]:

extracted_data = []

for container in containers:
  h = container.text
  # Split the text
  lines = [line.strip() for line in h.split('\n') if line.strip()]

  # Append the cleaned lines
  extracted_data.append(lines)

for i, data_item in enumerate(extracted_data[:50]):
    print(f"Container {i+1}:")
    for line in data_item:
        print(line)
    print("-" * 20)

Container 1:
Nusa Dua Luxe Villa w/ Ocean-View & Private Beach
Starting from USD 715 per 2 nights
Beds: 3Baths: 4
--------------------
Container 2:
Dreamy Haven w/ Pool | 300m from Bingin Beach
Starting from USD 430 per 2 nights
Beds: 2Baths: 2
--------------------
Container 3:
Sunny Tropical Luxe Villa in Ungasan with Pool
Starting from USD 172 per night
Beds: 2Baths: 2
--------------------
Container 4:
Sun-Soaked Canggu Villa Perfect for Families
Starting from USD 100 per night
Beds: 2Baths: 2
--------------------
Container 5:
Sun-Soaked 2BR Villa w/ Pool 15-Min Ride to Beach
Starting from USD 91 per night
Beds: 2Baths: 2
--------------------
Container 6:
Voguish Penthouse with Rooftop Pool Near Canggu
Starting from USD 89 per night
Beds: 2Baths: 2
--------------------
Container 7:
Quaint & Homey Balinese Villa w/ Private Pool
Start from $1,780 USD per Month
Beds: 2Baths: 2
--------------------
Container 8:
Tranquil 3BR Villa in Jimbaran with Wi-Fi + Pool
Start from $2,570 USD per Month
Beds: 3Baths: 3
--------------------
Container 9:
Family Holiday House w/ Private Pool in Jimbaran
Start from $3,350 USD per Month
Beds: 5Baths: 5
--------------------
Container 10:
Ungasan Exquisite Villa w/ Rooftop & Private Pool by Bukit Vista
Starting from USD 167 per night
Beds: 3Baths: 3.5
--------------------
Container 11:
Private Ungasan Hideaway Villa with Pool Oasis
Starting from USD 165 per night
Bed: 1Bath: 1
--------------------
Container 12:
Sunny Tropical Luxe Villa in Ungasan with Pool
Starting from USD 172 per night
Beds: 2Baths: 2
--------------------
Container 13:
Uluwatu Modern Boho Villa Near Nyang Nyang Beach
Starting from USD $165 per night
Beds: 2Baths: 2
--------------------
Container 14:
Laid-back in Uluwatu Bungalow w/ Pool & Fast Wifi
Start from $790 USD per Month
Bed: 1Bath: 1
--------------------
Container 15:
Bukit Vista | Stunning 3BR Villa Near Padang Beach
Start from $4,600 USD per Month
Beds: 3Baths: 3
--------------------
Container 16:
Dazzling Villa with Pool and Rooftop in Bingin
Starting from USD 202 per night
Beds: 2Baths: 2
--------------------
Container 17:
Bright & Sunny Guesthouse with Green Lawn and Pool
Start from $920 USD per Month
Bed: 1Bath: 1
--------------------
Container 18:
Summer Vibe Stay in Bingin with Pool + Fast WIFI
Start from $1,090 USD per Month
Bed: 1Bath: 1
--------------------
Container 19:
Nusa Dua Luxe Villa w/ Ocean-View & Private Beach
Starting from USD 715 per 2 nights
Beds: 3Baths: 4
--------------------
Container 20:
Luxury & Calm Villa with pool near Nusa Dua Beach
Starting from USD 2000 per Month
Beds: 2Baths: 2
--------------------
Container 21:
Stunning Ocean View Nusa Dua Villa + Infinity pool
Start from $13,160 USD per Month
Beds: 3Baths: 4
--------------------

In [173]:
extracted_data = []
for container in containers:
    h = container.text
    lines = [line.strip() for line in h.split('\n') if line.strip()]
    extracted_data.append(lines)

# Create a list
data_for_df = []

# Iterate through the extracted data
for i, data_item in enumerate(extracted_data):

  container_data = {}
  # Extract relevant information
  for j, line in enumerate(data_item):

      if "IDR" in line or "USD" in line:
          container_data["price"] = line
      elif "Guest" in line :
          container_data["guest"] = line
      elif "Beds" in line:
          container_data["bedroom"] = line
      elif j == 0:
        container_data["title"] = line

  data_for_df.append(container_data)

# Create the DataFrame
df = pd.DataFrame(data_for_df)
df

,title,price,bedroom,guest
0,Nusa Dua Luxe Villa w/ Ocean-View & Private Beach,Starting from USD 715 per 2 nights,Beds: 3Baths: 4,NaN
1,Dreamy Haven w/ Pool | 300m from Bingin Beach,Starting from USD 430 per 2 nights,Beds: 2Baths: 2,NaN
2,Sunny Tropical Luxe Villa in Ungasan with Pool,Starting from USD 172 per night,Beds: 2Baths: 2,NaN
3,Sun-Soaked Canggu Villa Perfect for Families,Starting from USD 100 per night,Beds: 2Baths: 2,NaN
4,Sun-Soaked 2BR Villa w/ Pool 15-Min Ride to Beach,Starting from USD 91 per night,Beds: 2Baths: 2,NaN
5,Voguish Penthouse with Rooftop Pool Near Canggu,Starting from USD 89 per night,Beds: 2Baths: 2,NaN
6,Quaint & Homey Balinese Villa w/ Private Pool,"Start from $1,780 USD per Month",Beds: 2Baths: 2,NaN
7,Tranquil 3BR Villa in Jimbaran with Wi-Fi + Pool,"Start from $2,570 USD per Month",Beds: 3Baths: 3,NaN
8,Family Holiday House w/ Private Pool in Jimbaran,"Start from $3,350 USD per Month",Beds: 5Baths: 5,NaN
9,Ungasan Exquisite Villa w/ Rooftop & Private P...,Starting from USD 167 per night,Beds: 3Baths: 3.5,NaN
10,Private Ungasan Hideaway Villa with Pool Oasis,Starting from USD 165 per night,NaN,NaN
11,Sunny Tropical Luxe Villa in Ungasan with Pool,Starting from USD 172 per night,Beds: 2Baths: 2,NaN
12,Uluwatu Modern Boho Villa Near Nyang Nyang Beach,Starting from USD $165 per night,Beds: 2Baths: 2,NaN
13,Laid-back in Uluwatu Bungalow w/ Pool & Fast Wifi,Start from $790 USD per Month,NaN,NaN
14,Bukit Vista | Stunning 3BR Villa Near Padang B...,"Start from $4,600 USD per Month",Beds: 3Baths: 3,NaN
15,Dazzling Villa with Pool and Rooftop in Bingin,Starting from USD 202 per night,Beds: 2Baths: 2,NaN
16,NaN,Start from $920 USD per Month,NaN,Bright & Sunny Guesthouse with Green Lawn and ...
17,Summer Vibe Stay in Bingin with Pool + Fast WIFI,"Start from $1,090 USD per Month",NaN,NaN
18,Nusa Dua Luxe Villa w/ Ocean-View & Private Beach,Starting from USD 715 per 2 nights,Beds: 3Baths: 4,NaN
19,Luxury & Calm Villa with pool near Nusa Dua Beach,Starting from USD 2000 per Month,Beds: 2Baths: 2,NaN
20,Stunning Ocean View Nusa Dua Villa + Infinity ...,"Start from $13,160 USD per Month",Beds: 3Baths: 4,NaN

In [174]:
def extract_beds_baths(bedroom_string):
    """
    Extracts the number of beds and baths from a string.
    Handles cases where either beds or baths information might be missing.
    """
    try:
        parts = bedroom_string.split("Baths:")
        beds_str = parts[0].split("Beds:")[1]
        beds = float(beds_str)
    except:
        beds = None

    try:
        if len(parts) > 1: # Check if bath information exists.
          baths_str = parts[1]
          baths = float(baths_str)
        else:
          baths = None
    except:
        baths = None
    return beds, baths


# Apply the function to create new 'beds' and 'baths' columns
df[['beds', 'baths']] = df['bedroom'].apply(extract_beds_baths).tolist()
df = df.drop('guest', axis=1)
df = df.drop('bedroom', axis=1)

In [175]:
# Create a new column 'hotel_name'
df['hotel_name'] = df['title'].str.split('w/').str[0].str.strip()
df = df.drop('title', axis=1)

In [176]:
cols = list(df.columns)
cols.insert(0, cols.pop(cols.index('hotel_name')))
df = df[cols]

In [177]:
df.fillna(0, inplace=True)

In [178]:
df['beds'] = df['beds'].astype(int)
df['baths'] = df['baths'].astype(int)

In [181]:
df['price'] = df['price'].str.replace(r'Starting from|Start from|,$|', '', regex=True)
df['price'] = df['price'].str.replace('$', '', regex=False)
df['price'] = df['price'].str.replace(',', '')

In [182]:
df['price'] = df['price'].str.replace('night', 'Night', regex=False)
df.loc[16, ['hotel_name', 'beds', 'baths']] = ['Sunny Guesthouse', 1, 1]
df.loc[10, ['beds', 'baths']] = [1, 1]
df.loc[13, ['beds', 'baths']] = [1, 1]
df.loc[17, ['beds', 'baths']] = [1, 1]
df

,hotel_name,price,beds,baths
0,Nusa Dua Luxe Villa,USD 715 per 2 Nights,3,4
1,Dreamy Haven,USD 430 per 2 Nights,2,2
2,Sunny Tropical Luxe Villa in Ungasan with Pool,USD 172 per Night,2,2
3,Sun-Soaked Canggu Villa Perfect for Families,USD 100 per Night,2,2
4,Sun-Soaked 2BR Villa,USD 91 per Night,2,2
5,Voguish Penthouse with Rooftop Pool Near Canggu,USD 89 per Night,2,2
6,Quaint & Homey Balinese Villa,1780 USD per Month,2,2
7,Tranquil 3BR Villa in Jimbaran with Wi-Fi + Pool,2570 USD per Month,3,3
8,Family Holiday House,3350 USD per Month,5,5
9,Ungasan Exquisite Villa,USD 167 per Night,3,3
10,Private Ungasan Hideaway Villa with Pool Oasis,USD 165 per Night,1,1
11,Sunny Tropical Luxe Villa in Ungasan with Pool,USD 172 per Night,2,2
12,Uluwatu Modern Boho Villa Near Nyang Nyang Beach,USD 165 per Night,2,2
13,Laid-back in Uluwatu Bungalow,790 USD per Month,1,1
14,Bukit Vista | Stunning 3BR Villa Near Padang B...,4600 USD per Month,3,3
15,Dazzling Villa with Pool and Rooftop in Bingin,USD 202 per Night,2,2
16,Sunny Guesthouse,920 USD per Month,1,1
17,Summer Vibe Stay in Bingin with Pool + Fast WIFI,1090 USD per Month,1,1
18,Nusa Dua Luxe Villa,USD 715 per 2 Nights,3,4
19,Luxury & Calm Villa with pool near Nusa Dua Beach,USD 2000 per Month,2,2
20,Stunning Ocean View Nusa Dua Villa + Infinity ...,13160 USD per Month,3,4